<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/admin/header_footer.css">
    <link rel="stylesheet" href="../css/admin/adminHomePage.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <title>Admin Dashboard</title>
</head>
<body>

    <header>
        <div class="addnewproduct">
            <i class="bi bi-speedometer2" style="font-size: 50px;"></i>
            <p style="font-size: 25px; margin-top: 10px;">Admin Dashboard<p>
        </div>
    </header>

    <nav>
        <a href="/admin/addnewproduct">Add new product</a>
        <a href="#products">Product Management</a>
        <a href="/admin/accountmanagement">Accout Management</a>
    </nav>
    <main>
        <h1>Add ACOUNT</h1>
        <form>
            <label for="accountName">UserName:</label>
            <input type="text" id="accountName" name="accountName" required>
            <label for="accountName">Password:</label>
            <input type="password" id="accountpassword" name="accountpassword" required>
            <label for="accountEmail">Email:</label>
                <input type="email" id="accountEmail" name="accountEmail" required>
    
                <label for="accountRole">Role:</label>
                <select id="accountRole" name="accountRole" required>
                    <option value="admin">Admin</option>
                    <option value="user">User</option>
                </select>
    
                <button type="submit">Add account</button>
        </form>

        <h1>ORDER</h1>
        <table>
            <tr>
              <th>OrderID</th>
              <th>Cart_ID</th>
              <th>FULLNAME</th>
              <th>ADDRESS</th>
              <th>PHONE</th>
              <th>Tolal Money</th>
            </tr>
            <% order.forEach(order => { %>
              <tr>
                <td><%=order.ID %></td>
                <td><%=order.CART_ID%></td>
                <td><%= order.FULLNAME %></td>
                <td><%= order.ADDRESS %></td>
                <td><%= order.PHONE_NUMBER %></td>
                <td><%= order.TOTAL_MONEY %></td>
                <td> 
                  <form action="" method="post">
                  <input type="hidden" name="username" value="<%= order.ID %>">
                  <button class="remove-acount" type="submit">DETAIL</button>
                </form>
              </td>
              </tr>
            <% }); %>
          </table>
    </main>
    <footer>
        <p>&copy; 2023 Admin Dashboard</p>
    </footer>
    

</body>
</html>
